
*{
    box-sizing: border-box;
}
body{
   margin: 0;
   width: 100%;
   height: 100vh;
   overflow-x: hidden;
   
}
main{
    height: 100vh;
}
.bundle{
    width: auto;
    height: 221px;
    background-color: rgb(51, 43, 43);
    overflow: hidden;
   
}
#vedio{
    position: absolute;
    margin-right: 0px ;
    left: -15px;
    top: -9px;
    border-color: black;
}

.bundle1{
     display: flex;
     justify-content: left;  
     margin-top: -10px;  
     filter: brightness(1);
     overflow: hidden;
}
.bundle3{
    display: flex;
    color: azure;
    filter: brightness(1);
    font-family: sans-serif;
    letter-spacing: 0.9px;
    font-size: 11px;
    justify-content: flex-end;
    justify-content: space-around;
    margin-top: -6%;
}
li{
    word-spacing:-10px ;
    padding: -10px;
}
.bundle4{
    display: flex;
    justify-content: right;
    filter: brightness(1);
    margin-right: 100px;
    margin-top: 50px;
    
}
#bond1{
    height: 45px;
    width: 150px;
    border-radius: 30px;
    background-color: black;
    border-color: azure;
    color: azure;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.bundle5{
    display: flex;
    justify-content: center;
    position: relative;
    right: 245px;
    top: 100px;
}
.bundle6{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 170.5px;
    left: 245px;
}
.bundle7{
    margin-left: 285px;
    display: flex;
    position: relative;
    bottom: 140px;
}   
.bundle8{
     display: flex;
     justify-content: center;
     position: relative;
     bottom: 314.5px;
     right: -2px;
}
.bundle9{
    display: flex;
    justify-content: right;
    position: relative;
    right: 280px;
    bottom: 490px;
}
.bundle10{
    margin-left: 285px;
    position: relative;
    bottom: 460px;
}
.bundle11{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 639px;
    right: -2px;
}
.bundle12{
    display: flex;
    justify-content: right;
    position: relative;
    right: 280px;
    bottom: 815px;
}
 .bund{
    width: 100%;
    height: 00px;
    background-color: rgba(13, 13, 13, 0.4);
}
footer{
    width: 100%;
    height: 330px;
    margin-top: 100px;
    background-color: rgba(31, 31, 31);
}

.bundle14{
    color: hsl(240, 2%, 47%);
    display: flex;
    flex-direction: column ; 
    align-items: center;
    position: relative;
    top: 150px;
    font-size: 16px;
    font-family: serif;
    line-height: 40px;
    letter-spacing: 1px;
    right: 295px;
    
    
}
.bundle15{
    color: hsl(240, 2%, 47%);
    display: flex;
    flex-direction: column ; 
    align-items: center;
    position: relative;
    bottom: -25px;
    font-size: 16px;
    font-family: serif;
    line-height: 40px;
    letter-spacing: 1px;
    left:250px;
    

}

.bond3{
    position: relative;
    left: 570px;
    bottom: 170px;
    font-size: 29px;
    
}
.bond3:hover{
    cursor: pointer;
}
.bond4{
    position: relative;
    left: 630px;
    bottom: 202px;
    font-size: 29px;
}
.bond4:hover{
    cursor: pointer;
}
.bond5{
    position: relative;
    left: 690px;
    bottom: 236px;
    font-size: 29px;
}
.bond5:hover{
    cursor: pointer;
}
.bond6{
    position: relative;
    left: 750px;
    bottom: 269px;
    font-size: 29px;
}
.bond6 :hover{
    cursor: pointer;
}
.bond7{
    position: relative;
    left: 810px;
    bottom: 300px;
    font-size: 29px;
}
.bond7 :hover{
    cursor: pointer;
}

  